@model gestioncommande.Models.Commande

@{
    Layout = "_layout";
}

<main>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="DateCommande" class="control-label"></label>
            <input asp-for="DateCommande" class="form-control" />
            <span asp-validation-for="DateCommande" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PrixTotal" class="control-label"></label>
            <input asp-for="PrixTotal" class="form-control" />
            <span asp-validation-for="PrixTotal" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CLientId" class="control-label"></label>
            <select asp-for="CLientId" class="form-control" asp-items="ViewBag.CLientId"></select>
            <span asp-validation-for="CLientId" class="text-danger"></span>
        </div>
        @* <div class="form-group">
            <label asp-for="LivreurId" class="control-label"></label>
            <select asp-for="LivreurId" class="form-control" asp-items="ViewBag.LivreurId"></select>
            <span asp-validation-for="LivreurId" class="text-danger"></span>
        </div> *@
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="hasPayed" /> @Html.DisplayNameFor(model =>
                model.hasPayed)
            </label>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Taken" /> @Html.DisplayNameFor(model => model.Taken)
            </label>
        </div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="CreateAt" class="control-label"></label>
            <input asp-for="CreateAt" class="form-control" />
            <span asp-validation-for="CreateAt" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UpdateAt" class="control-label"></label>
            <input asp-for="UpdateAt" class="form-control" />
            <span asp-validation-for="UpdateAt" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</main>
